.single-container {
}

.background-container {
  margin: 0 10px 50px 10px;
  position: relative;
  text-align: center;
  color: white;
}

.background-pic {
  max-height: 90%;
  max-width: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1%;
  opacity: 0.85;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.movie-info-container {
  /* background-color: blueviolet; */
  margin: 5px;
  padding: 5px;
}

.title {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 250%;
}
